=javascript_include_tag "tables.js"
%h1 Tables
-if flash[:notice]
  %p=flash[:notice]
-if flash[:alert]
  %p=flash[:alert]
%ul
  -@tables.each do |t|
    %li
      =link_to t.name, table_path(t)
      =link_to "Delete", table_path(t), method: :delete, data: {confirm: "Are you sure you want to delete this table?"}
=form_tag import_tables_path, multipart: true do
  =file_field_tag :file, onchange: 'file_selected()'
  =label_tag :file_name, "Name:"
  =text_field_tag :file_name
  =submit_tag "Import"
